/* 全体のリセットとレイアウト */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.hidden {
  display: none;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#omikuji {
  border: 2px solid #333;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* スマホ版対応 */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem; /* スマホ画面での見出しのフォントサイズを縮小 */
    padding: 0.5rem 0; /* 上下の余白も縮小 */
  }

  #omikuji {
    font-size: 1rem;
    padding: 5px;
    width: 100%;
  }

  #omikujiTitle {
    font-size: 1.2rem;
  }

  #omikujiDetails {
    font-size: 1rem;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
